/*
*
{
    -webkit-tap-highlight-color: transparent;
}

*:focus
{
    outline: none;
}

html, body
{
    height: 100%;
}

body
{
    margin: 0;
    background-color: #0e3577;
}

#webapp_cover
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 39px;
    margin: 0 auto;
    transform: translateY(-50%) scale(2);
}

#menu_button
{
    width: 39px;
    overflow: hidden;
}

#menu_checkbox
{
    display: none;
}

#menu_label
{
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
}

#menu_label:after
{
    top: 12px;
}

#menu_text_bar
{
    top: 24px;
}

#menu_text_bar:before
{
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
    left: -39px;
}

#menu_checkbox:checked + #menu_label:after
{
    left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}*/
/*------------ BUTTON LOGIN ---------------*/
.button {
  /*=====Undefult-settings====*/
  border: none;
  outline: none;
  /*=========================*/
  display: block;
  margin: 20px auto;
  border-radius: 50px 50px 50px 50px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 350;
  font-family: "Roboto Mono" sans-serif;
}

.tow {
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 1px 1px 1px 1px;
  z-index: 2;
  font-weight: bold;
}

.tow:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 57.1px;
  background-color: #829FD9;
  left: -312px;
  top: 0px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  padding: 1px;
}

.tow:hover:before {
  transform: translate(309px, 0);
}

.home-page {
  font-family: "Oswald", sans-serif;
  /*background:#212;*/
  /*background-image: url(images/Working-Out-With-Chalk.jpg);
  background-repeat:no-repeat;
  background-size: cover;*/
  width: 100%;
  height: 200px;
}

nav {
  margin: 10% 20%;
  padding-right: 20px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #fff;
  width: 120px;
  display: inline-block;
  text-align: center;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

div {
  width: 120px;
  height: 2px;
  background: #fff;
}

a:nth-child(1) ~ div {
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

a:nth-child(2):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(120px);
  background-color: #e74c3c;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

a:nth-child(3):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(240px);
  background-color: #BF55EC;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

a:nth-child(4):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(360px);
  background-color: #f39c12;
  color: #03C9A9;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

a:nth-child(5):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(480px);
  background-color: #DDE5F3;
  color: #03C9A9;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

a:nth-child(2):hover {
  color: #e74c3c;
}

a:nth-child(3):hover {
  color: #BF55EC;
}

a:nth-child(4):hover {
  color: #f39c12;
}

a:nth-child(5):hover {
  color: #DDE5F3;
}

header {
  display: grid;
  grid-rows: 1/13;
  grid-column: 1/2;
  /*background-color: #fff;*/
  width: 100%;
  height: 100px;
}

.header-logo {
  display: grid;
  grid-row-start: auto;
  grid-column: 1/3;
  font-family: "Monoton", serif;
  font-size: 26px;
  font-weight: bold;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  align-content: center;
  margin: 0 auto;
}

.contact {
  margin-top: 100px;
  color: #111;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
  text-align: center;
}

.contact h1 {
  font-size: 32px;
  line-height: 10px;
  text-align: center;
}

.contact p {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  text-transform: lowercase;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #111;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #FEB41C;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #FEB41C;
  cursor: pointer;
}

.contact-form {
  display: grid;
  justify-content: center;
  margin: 20px;
}

iframe {
  width: 100%;
}

.about-page {
  /*grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100px, auto);
  max-width: 100px ;*/
  background-color: #fff;
}

.portraitMan {
  width: 350px;
  margin-left: 30px;
  padding-top: 30px;
  z-index: -3;
}

.ligne_verticale {
  width: 3px;
  border-left: 1px solid gray;
  height: 30px;
  margin-top: 30%;
}

.textPresentation {
  display: flex;
  justify-content: center;
  color: #000;
  /*border-radius: 100px;*/
  margin-top: 5px;
  margin-left: 500px;
  width: 50%;
  font-size: 15px;
  font-family: "Roboto", serif;
  letter-spacing: 1.5px;
}

.nameCoach {
  font-family: "Monoton", sans-serif;
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 80px;
}

.login-page {
  font-family: "Oswald", sans-serif;
  width: 70%;
  height: 100px;
}

nav {
  margin: 10% 20%;
  padding-right: 20px;
  z-index: 1;
}

.navBar {
  text-decoration: none;
  color: #fff;
  width: 120px;
  display: inline-block;
  text-align: center;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

div {
  width: 120px;
  height: 2px;
  background: #fff;
}

.navBar:nth-child(1) ~ div {
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

.navBar:nth-child(2):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(120px);
  background-color: #e74c3c;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

.navBar:nth-child(3):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(240px);
  background-color: #BF55EC;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

.navBar:nth-child(4):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(360px);
  background-color: #f39c12;
  color: #03C9A9;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

.navBar:nth-child(5):hover ~ div {
  transform: translate(120px);
  -webkit-transform: translate(480px);
  background-color: #DDE5F3;
  color: #03C9A9;
  transition: all 0.33s linear;
  -webkit-transition: all 0.33s linear;
}

.navBar:nth-child(2):hover {
  color: #e74c3c;
}

.navBar:nth-child(3):hover {
  color: #BF55EC;
}

.navBar:nth-child(4):hover {
  color: #f39c12;
}

.navBar:nth-child(5):hover {
  color: #DDE5F3;
}

header {
  display: grid;
  grid-rows: 1/13;
  grid-column: 1/2;
  /*background-color: #fff;*/
  width: 100%;
  height: 100px;
}

header .header-logo1 {
  display: grid;
  grid-row-start: auto;
  grid-column: 1/3;
  font-family: "Monoton", serif;
  font-size: 26px;
  font-weight: bold;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  align-content: center;
  margin: 0 auto;
}

.signin {
  background-color: rgba(44, 62, 80, 0.7);
  padding: 40px;
  width: 250px;
  margin: auto;
  margin-top: 80px;
  height: 400px;
  margin-left: 180px;
}

form {
  width: 240px;
  text-align: center;
}

input {
  width: 240px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
}

input[type=button] {
  border: none;
  width: 190px;
  background: white;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}

input[type=button]:hover {
  color: #fff;
  background-color: black;
}

h2 {
  color: white;
}

a {
  color: yellow;
  text-decoration: blink;
}

a:hover {
  color: skyblue;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

::placeholder {
  color: aliceblue;
  opacity: 0.8;
  /*Firefox*/
}

.imageLogin {
  width: 60%;
  height: 300px;
  /*
  background-repeat: no-repeat;
  background-size: cover;*/
  z-index: -2;
}

/*# sourceMappingURL=style.css.map */
