.home-page{
    font-family: 'Oswald', sans-serif;
    /*background:#212;*/
    /*background-image: url(images/Working-Out-With-Chalk.jpg);
    background-repeat:no-repeat;
    background-size: cover;*/
    width: 100%;
    height: 200px;
  }
  
  nav{
    margin:10% 20%;
    padding-right: 20px;
    z-index: 1;
  }
  
  a{
    text-decoration:none;
    color:#fff;
    width:120px;
    display:inline-block;
    text-align:center;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  div{
    width:120px; 
    height:2px;
    background:#fff;
  }
  
  a:nth-child(1) ~ div{
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
    
  }
  
  a:nth-child(2):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(120px);
    background-color:#e74c3c;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  a:nth-child(3):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(240px);
    background-color:#BF55EC;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  
  a:nth-child(4):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(360px);
    background-color:#f39c12;
    color:#03C9A9;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  a:nth-child(5):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(480px);
    background-color:#DDE5F3;
    color:#03C9A9;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  
  a:nth-child(2):hover {
    color:#e74c3c;
  }
  
  a:nth-child(3):hover {
    color:#BF55EC;
  }
  
  a:nth-child(4):hover {
    color:#f39c12;
  }

  a:nth-child(5):hover {
    color:#DDE5F3;
  }

header{
    display: grid; 
    grid-rows: 1 / 13;
    grid-column: 1 / 2;
    /*background-color: #fff;*/
    width: 100%;
    height: 100px;
}
.header-logo{
  display: grid;
  grid-row-start: auto;
  grid-column: 1/3;
  font-family: 'Monoton', serif;
  font-size: 26px;
  font-weight:bold;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  align-content: center;
  margin: 0 auto;
    

}