.login-page{
    font-family: 'Oswald', sans-serif;
    width: 70%;
    height: 100px;
  }
  
  nav{
    margin:10% 20%;
    padding-right: 20px;
    z-index: 1;
  }
  
  .navBar{
    text-decoration:none;
    color:#fff;
    width:120px;
    display:inline-block;
    text-align:center;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  div{
    width:120px; 
    height:2px;
    background:#fff;
  }
  
  .navBar:nth-child(1) ~ div{
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
    
  }
  
  .navBar:nth-child(2):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(120px);
    background-color:#e74c3c;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  .navBar:nth-child(3):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(240px);
    background-color:#BF55EC;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  
  .navBar:nth-child(4):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(360px);
    background-color:#f39c12;
    color:#03C9A9;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  .navBar:nth-child(5):hover ~ div {
    transform:translate(120px);
    -webkit-transform:translate(480px);
    background-color:#DDE5F3;
    color:#03C9A9;
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
  }
  
  
  .navBar:nth-child(2):hover {
    color:#e74c3c;
  }
  
  .navBar:nth-child(3):hover {
    color:#BF55EC;
  }
  
  .navBar:nth-child(4):hover {
    color:#f39c12;
  }

  .navBar:nth-child(5):hover {
    color:#DDE5F3;
  }

header{
    display: grid; 
    grid-rows: 1 / 13;
    grid-column: 1 / 2;
    /*background-color: #fff;*/
    width: 100%;
    height: 100px;
}
header .header-logo1{
    display: grid;
    grid-row-start: auto;
    grid-column: 1/3;
    font-family: 'Monoton', serif;
    font-size: 26px;
    font-weight:bold;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    align-content: center;
    margin: 0 auto;
}

.signin {
    background-color: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 180px;
}

form {
    width: 240px;
    text-align: center;
}
input{
    width: 240px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=button]{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover{
    color: #fff;
    background-color: black;
}
h2 {
    color: white;
}
a{
    color: yellow;
    text-decoration: blink;
}
a:hover {
    color: skyblue;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder{
    color: aliceblue;
    opacity: 0.8; /*Firefox*/
}

.imageLogin {
    width: 60%; 
    height: 300px;
    /*
    background-repeat: no-repeat;
    background-size: cover;*/
    z-index: -2;

}